.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding-bottom: 80px;
  padding: 9vw 10vw;
  background-image: url('../public/img/lawn.jpeg');
  background-size: cover;
  background-attachment: fixed;
}


.title{
  text-align: center;
  margin: 0;
  color: white;
  background-color: rgb(33, 32, 32);
  padding: 32px;
  border-radius: 10px 90px;
  width: 100%;
  margin-bottom: 2em;
}

.form {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px 80px;
    border: 14px double #4c4c4ca1;
    background-image: url('../public/img/logo.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.758);
}

.form input{
  margin: 10px 0px;
  background: #1b1b1bf8;
    color: #78ab78;
}

.inputS {
  flex: 1;
  height: 50px;
  padding-left: 10px;
}

.inputS:first-child {
  margin-right: 20px;
}

.inputL {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  
}

.textArea {
  width: 100%;
  padding-left: 10px;
  background: #1b1b1bf8;
    color: #78ab78;
    text-decoration: none;
    font-size: 22px;
  margin-top: 10%;
}

.button {
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  background-color: rgb(0, 82, 0);
  color: rgb(199, 199, 199);
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  padding: 29px 21px;
  justify-content: center;
  text-align: center;
  border: 3px double black;
  border-radius: 67% 33%;
}

@media screen and (max-width: 480px) {

  .form {
    width: 100%;
  }

  .inputS:first-child {
    margin: 0;
  }
}
