.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding-bottom: 80px;
  padding: 9vw 10vw;
  background-image: url('../public/img/lawn.jpeg');
  background-size: cover;
  background-attachment: fixed;
  border: 13px solid rgb(203, 203, 203);
  border-radius: 23% 8%;
}


.title{
  text-align: center;
  margin: 0;
  color: white;
  background-color: rgb(33, 32, 32);
  padding: 32px;
  border-radius: 10px 90px;
  width: 100%;
  margin-bottom: 2em;
}

.form {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px 80px;
    border: 14px double #0e0e0edf;
    background-image: url('../public/img/logo.jpg');
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(45, 44, 44, 0.779);
}

.form input{
  background: #e1e1e1f8;
    color: #151615;
    font-size: 20px;
    border-radius: 10%;
}

.inputS {
  flex: 1;
  height: 50px;
  padding-left: 10px;
  width: 100%;
}

.inputS:first-child {
  margin-right: 20px;
}

.inputL {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  
}

.textArea {
  width: 100%;
  padding-left: 10px;
  background: #1b1b1bf8;
    color: #78ab78;
    text-decoration: none;
    font-size: 22px;
  margin-top: 10%;
  border-radius: 10px;
}

.button {
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  background-color: rgb(230, 235, 230);
  color: rgb(13, 68, 23);
  width: 100%;
  font-size: 26px;
  cursor: pointer;
  padding: 29px 21px;
  justify-content: center;
  text-align: center;
  border: 10px solid rgb(36, 35, 35);
  border-radius: 37% 33%;
}
.button:hover {

  background-color: rgb(26, 26, 26);
  color: rgb(166, 159, 159);
  border: 10px solid rgb(239, 239, 238);

}

@media screen and (max-width: 480px) {

  .form {
    width: 100%;
  }

  .inputS:first-child {
    margin: 0;
  }
}

body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}
